<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FrameWork">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="Usecase_Managmnet"/>
		  </run>
	  </groups>
    <classes>
      <class name="com.restassured.usermanagment.api.testcases.UserManagemantTest"/>
      <class name="com.restassured.usermanagment.api.testcases.UseCaseManagmentTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- FrameWork -->
