<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API and UI testing">
	<test thread-count="5" name="Demo API Tests">
		<classes>
			<class name="api.demo.AuthApiTest" />
			<class name="api.demo.APITest" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="UI Test">
		<classes>
			<class name="ui.google.test.GoogleTest" />
		</classes>
	</test>

	<test name="UserManagement API Testcases">
		<classes>
			<class name="api.userManagement.UserManagemantTest" />
		</classes>
	</test>
</suite> <!--
Suite -->
